extends layout.pug

block content
  if username
    h2 Welcome, #{username}!
  else
    form(aciton="/hello", method="post")
      label Please enter your name: 
        input(type="text", name="username")
      button(type="submit") Submit
