doctype html
html(lang="en")
  head
    title Flashcards
  body
    h1 Welcome!
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id facilis animi iure veritatis earum quasi doloribus commodi quia debitis eos, dolore reprehenderit saepe neque hic accusantium ut eveniet, ducimus porro?
    table
      tr
        th Money
        th Problems
      tr
        td Mo Money
        td Mo Problems
